<h1>Your Shopping Cart</h1>

<% if @cart_items.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <% @cart_items.each do |item| %>
    <div class="cart-item">
      <p><%= item[:product].name %> - Quantity: <%= item[:quantity] %></p>
      <p>Subtotal: <%= number_to_currency(item[:subtotal]) %></p>
    </div>
  <% end %>
<% end %>